.text-total-visit {
  max-width: auto;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  /* color: #11263c; */
  font-family: "DINPro", sans-serif;
}
.text-main-left-total {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.tooltip-icon {
  cursor: pointer;
  &:hover {
    fill: #5b6e83;
  }
}
