@media (max-width: 1200px) {
  .right-main {
    display: none !important;
  }
  .main-container {
    font-size: 10px;
  }
  .header-container {
    font-size: 14px;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 1000px;
  // height: 100%;
  // margin-top: 20px;
}
.left-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 34px;
  padding-right: 34px;
  padding-left: 34px;
  font-weight: 700;
  line-height: 20px;
}
.text-main-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-size: 12px;
  // font-weight: 700;
  // color: rgba(66, 47, 138, 0.87);
  line-height: 20px;
  // margin-left: 50px;
}
.text-main-left-two {
  // margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  gap: 20px;
  font-family: "Yuanti SC", sans-serif;
  // margin-bottom: 10px;
}
.icon-cong-cuoi {
  display: flex;
  border-radius: 50%;
  align-items: center;
  width: 45px;
  height: 45px;
  justify-content: center;
}
.text-total-lich {
  display: flex;
  flex-direction: row;
  font-family: "DINPro", sans-serif;
  // color: #d0d1d2;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  // margin-bottom: -10px;
  justify-content: space-between;
}
.text-main-left-three {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin-right: 20px;
}
.color-lich {
  width: 61px;
  border: 4px;
  height: 4px;
  // border: 4px solid #ffffff;
  transform: rotate(180deg);
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 100px;
}
.right-main {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  // background-color: #f2f2f7;
  padding: 0px 40px 10px 40px;
  height: 100vh;
  // align-items: center;
  // border-radius: 0px;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding-top: 34px;
}
.text-total-visit {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  // margin-left: 50px;
}
.text-main-left-total {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.image-lon {
  width: 250px;
  height: 174px;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(50, 50, 71, 0.06);
  box-shadow: 0px 8px 8px 0px rgba(50, 50, 71, 0.08);
}
.text-icon-social {
  margin-top: 15px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.text-active-per {
  display: flex;
  gap: 34%;
}

.container-chart {
  // flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  // margin-top: 10px;
  height: 322px;
}
.chart-pie-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  // gap: 20px;
}
.chart-progress-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  // gap: 20px;
}

.clickable-icon11 {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  padding: 8px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid rgba(236, 233, 241, 1);
  cursor: pointer;
  &:hover {
    fill: #125fac;
    color: #125fac;
  }
}
.click-bitforex {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  font-family: "DINPro", sans-serif;
  cursor: pointer;
  &:hover {
    fill: #125fac;
    color: #125fac;
  }
}
.date-picker {
  display: flex;
  position: absolute;
  margin: 70px 0px 0px 200px;
}
.lich-march {
  align-items: center;
  display: inline-flex;
  height: 30px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgba(236, 233, 241, 1);
}
.clickable-icon {
  font-family: "DINPro", sans-serif;
  font-weight: 700;
  line-height: 20px;
  font-size: 12px;
}
