@media (max-width: 1200px) {
  .right-main {
    display: none !important;
  }
  .main-container {
    font-size: 10px;
  }
  .header-container {
    font-size: 14px;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  // margin-top: 20px;
}
.left-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}
.text-main-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-size: 12px;
  // font-weight: 700;
  // color: rgba(66, 47, 138, 0.87);
  line-height: 20px;
  margin-left: 50px;
}
.text-main-left-two {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  gap: 20px;
  font-family: "Yuanti SC", sans-serif;
  margin-bottom: 10px;
}
.text-total-lich {
  display: flex;
  flex-direction: row;
  font-family: "DINPro", sans-serif;
  color: #d0d1d2;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.text-main-left-three {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-left: 86vh;
  // margin-right: 50px;
}
.color-lich {
  width: 61px;
  height: 0px;
  border: 4px solid #ece9f1;
  transform: rotate(180deg);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.right-main {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f7;
  height: 90vh;
  align-items: center;
  // border-radius: 0px;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
}
.text-total-visit {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 50px;
}
.text-main-left-total {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.image-lon {
  width: 250px;
  height: 174px;
  border-radius: 20px;
  margin-top: 10px;
}
.text-icon-social {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #422f8ade;
  font-family: "Poppins", sans-serif;
}
.text-active-per {
  display: flex;
  gap: 34%;
}
.container-chart {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.chart-pie-progress {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.clickable-icon {
  font-size: 12px;
  line-height: 20px;
  font-family: "DINPro", sans-serif;
  color: #11263c;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    fill: #125fac;
    color: #125fac;
  }
}
.click-bitforex {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  font-family: "DINPro", sans-serif;
  color: #d0d1d2;
  cursor: pointer;
  &:hover {
    fill: #125fac;
    color: #125fac;
  }
}
.date-picker {
  display: flex;
  position: absolute;
  margin: 70px 0px 0px 200px;
}
