.container-pie-Chart-footer {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  width: 250px;
  margin-top: 20px;
}
.pie-Chart {
  position: relative;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 25px;
  padding-bottom: 10px;
  margin-left: 15px;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}
.text-chart-footer {
  height: 61px;
  width: 350px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  // color: #3c3c4399;
  border-radius: 8px;
  margin-left: -130px;
  padding-left: 140px;
  padding-right: 10px;
}
.chart-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: bold;
  padding-top: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}
.text-chart {
  margin: 0;
  // color: rgba(116, 89, 217, 0.8);
  font-size: 10px;
  margin-left: 50px;
}
.text-legend {
  font-weight: 400;
  line-height: 18.46px;
  // color: #3c3c4399;
}
