.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  min-height: 80px;
  .header-text {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 24px;  
    gap: 30px;
    margin-left: 50px;
  }
}
.header-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-left: 30px;
  gap: 20px;
  right: 4%;
}
.text-size {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.divider-horizontal {
    height: 2px;
    width: 100%;
    background-color: #F2F2F7;
  }