.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  min-width: 80px;
  align-items: center;
  overflow: hidden;
  .menu-icon,
  .icon-bitcoin,
  .icon-image,
  .icon-msg {
    cursor: pointer;
    &:hover {
      fill: #fc0303;
    }
  }
}
.menu-icon {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.menu-icon:hover {
  transform: scale(1.3);
}
.icon-bitcoin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.icon-image {
  margin-top: 50px;
  flex-direction: column;
  display: flex;
}
.icon-msg {
  display: flex;
  position: absolute;
  bottom: 50px;
}
.divider-vertical {
  width: 2px;
  height: 95vh;
  background-color: #f2f2f7;
}
