.sidebar-icon {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.sidebar-icon:hover {
  transform: scale(1.9);
}
.container-icon-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 210px;
}
.menu-msg-icon {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 30px;
  width: 44px;
  height: 236px;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.menu-msg-icon-msg {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}
.sidebar-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px rgba(50, 50, 71, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  margin: -4px -4px 0px -4px;
  width: 40px;
  height: 40px;
}
