.sidebar-icon {
  margin: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.sidebar-icon:hover {
  transform: scale(1.9);
}
.container-icon-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 210px;
}
.menu-msg-icon {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #f8f9fd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
.menu-msg-icon-msg {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #f8f9fd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 10px;
}
