.main-layout {
  background-color: var(--background-color);
  color: var(--text-color);

  .header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
  }

  .sidebar {
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
  }

  .main {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
  }
}
.main-layout.light {
  --background-color: white;
  --text-color: black;
  --header-background-color: #4d4747;
  --header-text-color: rgb(0, 0, 0);
  --sidebar-background-color: #2c2c2e;
  --sidebar-text-color: rgb(0, 0, 0);
  --main-background-color: #ffffff;
  --main-text-color: #000;

  --left-main-bg-color: white;
  --left-main-text-color: black;

  --right-main-bg-color: #f2f2f7;
  --right-main-text-color: rgb(0, 0, 0);

  --divider-bg-color: #f2f2f7;

  --menu-msg-icon-background-color: #f8f9fd;

  --menu-msg-icon-msg-background-color: #f8f9fd;
  --menu-msg-icon-msg-fill: rgba(66, 47, 138, 0.87);
  --menu-msg-icon-stroke: rgba(66, 47, 138, 0.87);
  --icon-cong-cuoi-background-color: #f8f9fd;

  --social-trading-list-background-color: #ffffff;
  // --container-pie-Chart-footer-background-color: #ffffff;
  --pie-Chart-background-color: #ffffff;
  --text-chart-footer-background-color: #ffffff;

  --text-icon-social-text-color: #422f8ade;
  --clickable-icon-text-color: #321d7dde;
  --clickable-icon-text-color-dashboard: rgba(66, 47, 138, 0.87);
  --total-users-text-color: #000000;

  --text-legend-text-color: #3c3c4399;
  --text-chart-text-color: #422f8ade;
  --text-status-text-color: #d0d1d2;
  --provison-month-text-color: #d0d1d2;
  --totalCount-text-color: #d0d1d2;
  --infoLabel-text-color: #d0d1d2;
  --text-dashboard-header-text-color: #d0d1d2;
  --click-bitforex-text-color: #d0d1d2;
  --item-category-text-color: #d0d1d2;
  --color-lich-background-color: #ece9f1;
  --way-frame-background-color: #f6f3fb;
  --tooltip-icon-background-color: rgba(208, 209, 210, 1);
  --text-size-background-color: #000000;

  --sidebar-menu1-background-color: rgba(255, 255, 255, 1);
  --sidebar-menu1-background-color-boder: 0.5px solid rgba(242, 242, 247, 1);

  --icon-dropdown-stroke: #000000;
  --infoLabel-way-color: rgba(236, 233, 241, 1);

  --clickable-icon11-boder: 1px solid rgba(236, 233, 241, 1);
}
.main-layout.dark {
  --background-color: #2c2c2e;
  --text-color: white;
  --header-background-color: #2c2c2e;
  --header-text-color: white;
  --sidebar-background-color: #2c2c2e;
  --sidebar-text-color: white;
  --main-background-color: #2c2c2e;
  --main-text-color: white;

  --left-main-bg-color: #2c2c2e;
  --left-main-text-color: white;

  --right-main-bg-color: #1c1c1e;
  --right-main-text-color: white;

  --divider-bg-color: #1c1c1e;

  --menu-msg-icon-background-color: #3a3a3c;
  --menu-msg-icon-msg-background-color: #3a3a3c;

  --menu-msg-icon-msg-fill: rgba(232, 230, 240, 0.87);
  --menu-msg-icon-stroke: rgba(232, 230, 240, 0.87);
  --icon-cong-cuoi-background-color: #3a3a3c;
  --text-icon-social-text-color: #5e5ce6;

  --social-trading-list-background-color: #2c2c2e;
  // --container-pie-Chart-footer-background-color: #2c2c2e;
  --pie-Chart-background-color: #2c2c2e;
  --text-chart-footer-background-color: #2c2c2e;
  --clickable-icon-text-color-dashboard: rgba(94, 92, 230, 1);
  --clickable-icon-text-color: #ffffff;
  --total-users-text-color: #ffffff;

  --text-legend-text-color: white;
  --text-chart-text-color: #5e5ce6;
  --text-status-text-color: #ebebf54d;
  --provison-month-text-color: #ebebf54d;
  --totalCount-text-color: #ebebf54d;
  --infoLabel-text-color: #ebebf54d;
  --text-dashboard-header-text-color: #ebebf54d;
  --click-bitforex-text-color: #ebebf54d;
  --item-category-text-color: #ebebf54d;
  --color-lich-background-color: #3d3c41;
  --way-frame-background-color: #3e3d3d;
  --tooltip-icon-background-color: #ebebf54d;
  --text-size-background-color: #fffefe;

  --sidebar-menu1-background-color: rgba(120, 120, 128, 0.36);
  --sidebar-menu1-background-color-boder: 0.5px solid rgb(48, 48, 57);
  --icon-dropdown-stroke: #ffffff;

  --infoLabel-way-color: rgba(61, 60, 65, 1);

  --clickable-icon11-boder: 1px solid rgb(104, 102, 107);
}
.left-main {
  background-color: var(--left-main-bg-color);
  color: var(--left-main-text-color);
}

.right-main {
  background-color: var(--right-main-bg-color);
  color: var(--right-main-text-color);
}
.divider-vertical {
  background-color: var(--divider-bg-color);
}
.divider-horizontal {
  background-color: var(--divider-bg-color);
}
.menu-msg-icon {
  background-color: var(--menu-msg-icon-background-color);
}
.menu-msg-icon-msg {
  background-color: var(--menu-msg-icon-msg-background-color);
}
.menu-msg-icon-msg {
  stroke: var(--menu-msg-icon-msg-fill);
}
.menu-msg-icon {
  stroke: var(--menu-msg-icon-stroke);
}
.social-trading-list {
  background-color: var(--social-trading-list-background-color);
}
// .container-pie-Chart-footer {
//   background-color: var(--social-trading-list-background-color);
// }
.pie-Chart {
  background-color: var(--pie-Chart-background-color);
}
.text-chart-footer {
  background-color: var(--text-chart-footer-background-color);
}
.icon-cong-cuoi {
  background-color: var(--icon-cong-cuoi-background-color);
}
.text-icon-social {
  color: var(--text-icon-social-text-color);
}
.clickable-icon-cong {
  fill: var(--clickable-icon-text-color);
}
.clickable-icon {
  color: var(--clickable-icon-text-color-dashboard);
}
.total-users-text {
  color: var(--total-users-text-color);
}
.text-legend {
  color: var(--text-legend-text-color);
}
.text-chart {
  color: var(--text-chart-text-color);
}
.text-status {
  color: var(--text-status-text-color);
}
.provison-month {
  color: var(--provison-month-text-color);
}
.text-total-line {
  color: var(--totalCount-text-color);
}
.infoLabel {
  color: var(--infoLabel-text-color);
}
.text-dashboard-header {
  color: var(--text-dashboard-header-text-color);
}
.click-bitforex {
  color: var(--click-bitforex-text-color);
}
.item-category {
  color: var(--item-category-text-color);
}
.color-lich {
  background-color: var(--color-lich-background-color);
}
.way-frame {
  background-color: var(--way-frame-background-color);
}
.way-frame-x {
  background-color: var(--way-frame-background-color);
}
.way-frame-y {
  background-color: var(--way-frame-background-color);
}
.tooltip-icon {
  fill: var(--tooltip-icon-background-color);
}
.header-text .text-size::after {
  background-color: var(--text-size-background-color);
}
.sidebar-menu1 {
  background-color: var(--sidebar-menu1-background-color);
  border: var(--sidebar-menu1-background-color-boder);
}
.icon-dropdown {
  stroke: var(--icon-dropdown-stroke);
}
.icon-social {
  stroke: var(--text-icon-social-text-color);
}
.way-frame-xx {
  background-color: var(--infoLabel-way-color);
}
.lich-march {
  border: var(--clickable-icon11-boder);
}
.clickable-icon11 {
  border: var(--clickable-icon11-boder);
}
