@import "../assets/styles/theme.scss";
.main-layout {
  display: flex;
  overflow: hidden;
}
.sidebar {
  max-width: 80px;
  height: 100%;
}
.wrap-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.header {
  min-height: 80px;
  max-width: 100%;
}

.main {
  flex-grow: 1;
  height: 100%;
}
