@media (max-width: 1000px) {
  .sidebar-container {
    display: none !important;
  }
}
// @media (max-height: 1000px) {
//   .header-container {
//     display: none !important;
//   }
// }
@media (max-width: 650px) {
  .container-chart {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@import "../assets/styles/theme.scss";
.main-layout {
  display: flex;
  // width: 110%;
  // height: 110%;
}
.sidebar {
  max-width: 80px;
  height: 100%;
  display: none;
  margin-right: 2px;
}
.wrap-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.header {
  max-width: 100%;
  margin-bottom: 2px;
}

.main {
  flex-grow: 1;
  // height: 100%;
  // margin-top: 30px;
}
