.main-layout {
  &.light {
    background-color: white;
    color: black;

    .header {
      background-color: #007bff;
      color: white;
    }

    .sidebar {
      background-color: #2c2c2e;
      color: white;
    }

    .main {
      background-color: #ffffff;
      color: #000;
    }
  }

  &.dark {
    background-color: #2c2c2e;
    color: white;

    .header {
      background-color: #2c2c2e;
      color: white;
    }

    .sidebar {
      background-color: #2c2c2e;
      color: white;
    }

    .main {
      background-color: #2c2c2e;
      color: white;
    }
  }
}
