.pieChart-info {
  display: flex;
  flex-direction: row;
}
.pieCard {
  display: flex;
  height: 13rem;
  width: 40%;
  position: relative;
}
.chart-pie-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: bold;
}
.chartInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.infoList {
  margin-top: 10px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 30vh;
  margin-top: 15px;
}

.infoColor {
  display: inline-block;
  width: 40px;
  height: 5px;
  border-radius: 20%;
  margin-right: 10px;
}

.infoLabel {
  flex: 1;
  font-size: 1rem;
  color: #555;
}

.infoValue {
  font-size: 1rem;
  font-weight: bold;
}
