.pieChart-info {
  display: flex;
  flex-direction: row;
}
.pieCard {
  display: flex;
  min-width: 100px;
  min-height: 100px;
  width: 200px;
  height: 200px;
}
.chart-pie-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: bold;
}
.chartInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  gap: 14px;
  margin-top: 10px;
}

.infoList {
  margin-top: 10px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  width: 30vh;
}

.infoColor {
  display: inline-block;
  width: 40px;
  height: 5px;
  border-radius: 20%;
  margin-right: 10px;
}
.wrap-label-cham {
  // padding-bottom: 2px;
}
.infoLabel {
  flex: 1;
  font-size: 14px;
  color: #555;
  font-weight: 400;
  line-height: 22px;
}

.infoValue {
  font-size: 14px;
  font-weight: 600;
  margin-left: 50px;
  line-height: 22px;
}
